<%= cl_image_tag("https://res.cloudinary.com/dxd8ya8yt/image/upload/v1675333496/sample.jpg",
      width: 400, height: 300, crop: :fill) %>


<ul  class="list-group">
  <%@lists.each do |list|%>
  <li class="list-group-item">
  <%= link_to list.name, list_path(list)%>
  </li>
  <%end%>
 </ul>
